* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --mainFont: 'Rubik', sans-serif;
    --seconderyFont: 'Nunito', sans-serif;
    --mainColor: #0d3b49;
    --seconderyColor: #446eb8;
    --linkColor: #f5cebe;
    --bgColor: #f4eee8;
    font-family: var(--mainFont);
    background: var(--bgColor);
}

header {
    width: 100%;
    height: 8vh;
    display: grid;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .2);
}

.h-con {
    width: 90vw;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-con h3 {
    font-size: 2rem;
    color: var(--seconderyColor);
    letter-spacing: .16em;
    font-weight: 500;
}

.h-con h5 {
    font-size: 1rem;
    color: var(--mainColor);
    font-weight: 400;
}

main {
    width: 100%;
    height: 75vh;
}

.m-con {
    width: 90vw;
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    width: 65%;
}

span {
    font-size: 1.5rem;
    position: relative;
    color: var(--mainColor);
}

.noun {
    width: 20%;
}

.task {
    width: 65%;
}

.object {
    width: 20%;
}

.m-con span::after {
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background: var(--seconderyColor);
    color: var(--seconderyColor);
    position: absolute;
    left: 5%;
}

.buttons {
    width: 85%;
    display: flex;
    justify-content: space-around;
}

.btn {
    background: transparent;
    font-size: .8rem;
    padding: .7em 1em;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 5px;
    letter-spacing: .12em;
    /* text-transform: uppercase; */
    transition: 200ms ease;
    cursor: pointer;
}

#r-btn {
    margin-top: 1em;
}

.btn:hover {
    color: var(--seconderyColor);
    border: 2px solid var(--seconderyColor);
}

footer {
    width: 100%;
    height: 17vh;
    background: white;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, .2);
    color: var(--mainColor);
}

.f-con {
    width: 90vw;
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.f-con p {
    font-weight: 400;
    font-family: var(--seconderyFont);
}

.discription {
    width: 65%;
}

.discription span {
    font-weight: 500;
    font-family: var(--mainFont);
    display: block;
    font-size: 1.2rem;
    letter-spacing: .1em;
    margin-bottom: .6em;
    margin-top: .4em;
}

.f-con h3 {
    font-weight: 500;
    font-family: var(--mainFont);
    display: block;
    font-size: 1.2rem;
    margin-top: .4em;
    margin-bottom: .6em;
    letter-spacing: .1em;
}

.f-con a {
    color: var(--mainColor);
}

.f-con a:hover {
    cursor: pointer;
    color: var(--seconderyColor);
    transition: 200ms ease;
}

code {
    font-size: 1rem;
}

.icons {
    margin: .5em 0;
}

.icons span {
    margin-right: .3em;
    transition: 200ms ease;
    cursor: pointer;
}

.icons span:hover {
    color: var(--seconderyColor);
}

.contacts a {
    text-decoration: none;
}

.contacts p {
    transition: 200ms ease;
}

.contacts p:hover {
    text-decoration: underline;
    color: var(--seconderyColor);
    cursor: pointer;
}